/* Start of css */

* {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#root {
  height: 100vh;
  width: 100vw;
  font-family: 'Almarai', sans-serif;
  /* font-family: 'Spartan', sans-serif; */
  /* position: absolute; */
  margin: 0;
  padding: 0;
}

html, body {
  width: 100vw;
  min-height: 100vh;
}

.boolean {
  background: transparent;
  color: transparent;
  position: absolute;
}

.main-container {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-start; */
  height: 100vh;
  width: 100vw;
  /* position: relative; */
}

.big-page-container {
  flex: 5;
  background: linear-gradient(360deg, rgba(233,218,196,1) 5%, rgba(250,235,212,1) 59%, rgba(255,253,250,1) 100%);
  background-attachment: local;
}

.unidentified-container {
  flex: 5;
  height: 100vh;
  width: 100vw;
  background: rgba(233,218,196,1)
  /* background: linear-gradient(360deg, rgba(233,218,196,1) 5%, rgb(121, 111, 97) 59%, rgba(255,253,250,1) 100%); */
  /* background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center; */
}

.page-container {
  flex: 5;
  align-self: flex-start;
  margin-left: 4.5rem;
  margin-top: 0px;
  height: 100%;
  width: 100vw;
  background: #fcfaf7;
  /* background: #fffbf5; */
  /* background: linear-gradient(360deg, rgba(233,218,196,1) 5%, rgba(250,235,212,1) 59%, rgba(255,253,250,1) 100%); */
}


/*--NAV BAR--*/
.logo {
  margin-left: 20px;
  padding: 0px;
  float: left;
  fill: white;
}


.nav-container {
  height: 100vh;
  margin-left: 0px;
  padding-left: 0px;
  position: fixed;
  /* background: rgb(184,164,164);
  background: linear-gradient(90deg, rgba(184,164,164,1) 0%, rgba(184,164,164,  1) 29%, rgba(158,142,142,1) 100%); */
  /* background: #263D23; */
  background: linear-gradient(180deg, rgba(109,113,103,1) 6%, rgba(174,190,154,1) 37%, rgba(182,193,170,1) 50%, rgba(140,148,130,1) 64%, rgba(106,110,101,1) 88%);
  background-size: 200% 200%;
  animation: colorful 15s ease-in-out infinite;
}

@keyframes colorful {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

li.nav-item {
  margin-bottom: 30px;
}

/* span.homeNav {
  background: gray;
  transform: translateX(40px);
  width: 50px;
  height: 20px;
  margin-left: 60px;
}

span.homeNav:hover {
  background: #CCD1D1 ;
  transform: translateX(40px);
  width: 50px;
  height: 20px;
  margin-left: 60px;
} */





/*--HOME PAGE--*/
.home-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px;
  margin-left: 50px;
  margin-top: 40px;
}

.mini-home-container {
  /* background: blue; */
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  height: 80vh;
  padding-top: 40px;
}

.mini-profile-container {
  text-align: center;
  /* background:  rgba(94, 104, 38, .7); */
  background: rgb(233,225,206);
  background: linear-gradient(360deg, rgba(233,225,206,1) 0%, rgba(226,220,206,1) 29%, rgba(168,172,162,1) 100%);
  height: 400px;
}

.mini-profile-container:hover {
  background:rgba(0, 0, 0, 0.1);
}

.mini-info-container {
  /* background: rgb(166,172,159);
  background: linear-gradient(360deg, rgba(166,172,159,1) 0%, rgba(175,179,171,  1) 29%, rgba(168,172,162,1) 100%); */
  background: #e9e1ce;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  height: 700px;
  width: 400px;
  /* padding-top: 40px; */
  margin: 40px;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(2, 1fr);
  /* grid-column-gap: 30px; */
}

.mini-info-container:hover {
  background:rgba(0, 0, 0, 0.1);
}

.toptitle {
  margin-top: 40px;
  justify-self: center;
  grid-column: 1/3;
}

.topbirdersicon {
  background: #c8994d;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  justify-self: end;
  align-self: end;
  grid-column: 1/2;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.usericon {
  margin: 30px;
}

.descriptiontag1 {
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: end;
}

.descriptiontag2 {
  grid-column: 2/3;
  grid-row: 3/4;
  align-self: end;
}

.descriptiontag3 {
  grid-column: 2/3;
  grid-row: 4/5;
  align-self: end;
}

.mini-map-container {
  /* background:  #91948d;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
  height: 390px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.birds-nearby-container {
  background: #e9e1ce;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  height: 390px;
  width: 250px;
  justify-self: center;
  overflow: scroll;
}

.local-bird {
  background: #ccc5b6;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
/* .birds-nearby-container:hover {
  background:rgba(0, 0, 0, 0.1);
} */

/* PROFILE SECTION */
.profile-parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.profile-section {
  grid-area: 1 / 1 / 2 / 2;
  margin: 30px;
}

.svg-image {
  margin-top: 10px;
  margin-left: 10px;
}

.profile-info {
  /* grid-area: 1 / 1 / 2 / 2; */
  display: flex;
  flex-direction: row;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.avatar-img {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.profile-avatar {
  flex: 1 0 calc(10% - 10px);
}

.profile-username {
  margin-top: 10px;
  text-align: center;
}

.profile-badges {
  flex: 1 0 calc(20% - 10px);
}

.profile-details {
  flex: 1 0 calc(70% - 10px);
}

.user-info-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  gap: 10px;
}

.profile-detail-item {
  flex: 1 0 calc(50% - 10px);

}

.social-section {
  grid-area: 1 / 2 / 2 / 3;
  margin: 30px;
}

.social-view {
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.bird-nest-section {
  grid-area: 2 / 1 / 3 / 3;
  margin: 30px;
}

.bird-nest {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  width: 75%;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.bird-nest-item {
  flex: 1 0 calc(25% - 10px);
}

/* END OF PROFILE SECTION */


/*--BIRD PROFILE CSS! Don't touch or else ;)  --*/

.birdProfileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.birdProfilePic {
  margin: 10px 40px 10px 200px;
  padding: 7px;
}

.birdProfilePic > img {
  border-radius: 10px;
}

.birdBio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;

}

h1.birdTitle {
  font-weight: bold;
}

h3.scientific {
  color: #808B96;
}

.paragraphBird {
  padding: 10px;
  color: black;
  font-size: 18px;
  background: transparent;
  /* box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
  height: auto;
  width: 90%;
  border: 1px solid #b89a73;
}

.secondRowBP {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.birdNotes {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 300px;
  margin: 20px 50px 40px 40px;
  padding: 5px;
  background:  #F4F6F7 ;
  /* background: rgb(233,225,206);
  background: linear-gradient(360deg, rgba(233,225,206,1) 0%, rgba(226,220,206,1) 29%, rgba(168,172,162,1) 100%); */
  /* box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
}

hr.dash {
  border: 2px solid #ABB2B9;
}


p.notesText {
  margin-top: 7px;
  padding: 7px;
}

h4.notesTitle {
  color: #2C3E50  ;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 5%;
}

.heatMap {
  display: flex;
  justify-content: center;
  margin: 20px 40px 40px 80px;
  background:  #e0dcd1;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  height: auto;
  width: 70%;
  overflow: "hidden";
}


.viewer {
  width: 100%;
  height: 100%;
}

.buttonSquad {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: 6%;
}


button.downButton {
  border: none;
  background: transparent;
  width: 400px;
  height: 60px;
  margin-top: 30px;
  background: #999c97;
}


button.downButton:hover {
  border: none;
  background: transparent;
  color: #E9DAC4;
  width: 400px;
  height: 60px;
  margin-top: 30px;
  /* background: #9c8484; */
  background: rgb(179,153,153);
  background: radial-gradient(circle, rgba(119,119,87,1) 10%, rgba(122,122,93,1) 42%, rgba(129,129,98,1) 68%, rgba(124,128,103,1) 93%, rgba(113,116,109,1) 100%);
}

.birdNotes::-webkit-scrollbar {
  width: 3px;
}

.birdNotes::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

.birdNotes::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: none;
}


/**END BIRD PROFILE SECTION  */


/**LOGIN CSS SECTION  */
.headerLogin {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, rgba(109,113,103,1) 6%, rgba(174,190,154,1) 37%, rgba(182,193,170,1) 50%, rgba(140,148,130,1) 64%, rgba(106,110,101,1) 88%);
  background-size: 200% 200%;
  animation: colorful 15s ease-in-out infinite;
}

@keyframes colorful {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}



.headerLogin > img {
  height: 60px;
  width: 70px;
}

.loginContainer {
  width: 100vw;
  height: 100%;
  background: white;
}

h2.text-white {
  margin-top: 20px;
  font-family: 'Almarai', sans-serif;
}

.centerLogo {
  display: flex;
  flex-direction: row;
}

.logoLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 400px;
  background: linear-gradient(-45deg, rgba(109,113,103,1) 6%, rgba(174,190,154,1) 37%, rgba(182,193,170,1) 50%, rgba(140,148,130,1) 64%, rgba(106,110,101,1) 88%);
  /* background: #82857f; */
  border: none;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  background-size: 200% 200%;
  animation: colorful 15s ease-in-out infinite;
}

@keyframes colorful {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.logoLogin > img {
  height: 300px;
  width: 200px;
}

.secondaryContainerLogin {
  display: flex;
  margin-top: 5%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
}

.loginBox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1vh;
  width: 500px;
  height: auto;
  min-height: 400px;
  background: #E5E7E9 ;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}

.alert {
  position: relative;
  width: auto;
  height: 45px;
  background: #F5B7B1;
  color: #E74C3C;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 20px;
}

h3.loginText {
  color: #85929E ;
  font-weight: bold;
}

form.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

small.smallText {
  height: 6px;
  color: #808B96;
  margin-left: 10px;
  margin-bottom: 5px;
}

input.emailInput {
  margin: 10px;
  width: 350px;
  height: 40px;
  padding: 5px;
}

input.passwordInput {
  margin: 10px;
  width: 350px;
  height: 40px;
  padding: 5px;
}


button.googleBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 230px;
  height: 40px;
  background: #b0b8b0;
  border: none;
  margin-left: 70px;
  margin-bottom: 15px;
}

button.googleBtn:hover {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 230px;
  height: 40px;
  background: #606160;
  border: none;
  margin-left: 70px;
  margin-bottom: 15px;
  color: #E9DAC4;
}

button.loginSubmit {
  width: 230px;
  height: 40px;
  background: #b0b8b0;
  border: none;
  margin-left: 70px;
  margin-bottom: 15px;
}

button.loginSubmit:hover {
  width: 230px;
  height: 40px;
  background: #606160;
  border: none;
  margin-left: 70px;
  margin-bottom: 15px;
  color: #E9DAC4;
}

button.signUp {
  width: 100px;
  height: auto;
  background: transparent;
  border: none;
  margin-left: 15px;
  margin-bottom: 15px;

}

button.signUp:hover {
  width: 110px;
  height: auto;
  background: #b8a4a4;
  border: none;
  margin-left: 15px;
  margin-bottom: 15px;
  color: #FBFCFC;
}


.withGoogle {
  width: 200px;
  font-size: 15px;
  margin-left: 3px;
}

small.poweredBY {
  margin-top: 20px;
  font-size: 12px;
  color: #BDC3C7 ;
}
/**LOGIN CSS SECTION END */


/**SIGN UP SECTION START */
.signUpHeader {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, rgba(109,113,103,1) 6%, rgba(174,190,154,1) 37%, rgba(182,193,170,1) 50%, rgba(140,148,130,1) 64%, rgba(106,110,101,1) 88%);
  background-size: 200% 200%;
  animation: colorful 15s ease-in-out infinite;
}

@keyframes colorful {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.signUpContainer {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  background: white;
}

.signUpBlock {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.register {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
  height: 450px;
  background: #E5E7E9 ;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

input.registerInput {
  margin: 10px;
  width: 350px;
  height: 40px;
  padding: 5px;
  /* border: none; */
}

button.registerBtn {
  width: 230px;
  height: 40px;
  background: #b0b8b0;
  border: none;
  margin-left: 10px;
  margin-bottom: 15px;
}

button.registerBtn:hover {
  width: 230px;
  height: 40px;
  background: #606160;
  border: none;
  margin-left: 10px;
  margin-bottom: 15px;
  color: #E9DAC4;
}

.registerAlert {
  position: relative;
  width: auto;
  height: 30px;
  background: #F5B7B1;
  color: #E74C3C;
  font-weight: bold;
  font-size: 15px;
  margin-top: 30px;
}

h4.signUpText {
  color: #85929E ;
  font-weight: bold;
}

.AccountLink {
  font-family:  'Almarai', sans-serif;
  color: #566573;
}
/**SIGN UP SECTION END */