/* Start of css */

#root {
  height: 100vh;
  width: 100vw;
}

.main-container {
  display: flex;
  flex-direction: row;
}


/*--NAV BAR--*/
.nav-container {
  height: 100vh;
  margin-left: 0px;
  padding-left: 0px;
  display: sticky;
  flex: 1;
  position: absolute;
}

/*--HOME PAGE--*/
.home-container {
  justify-content: space-between;
}

.mini-home-container {
  background: white;
  flex: 2;
  margin: 40px;
  height: 80vh;
  padding-top: 40px;
}

.mini-profile-container {
  background: black;
  margin: 30px;
  flex: 2;
  height: 400px;
}

.mini-info-container {
  background: black;
  margin: 30px;
  flex: 1;
}

.mini-map-container {
  background: black;
  flex: 1;
  margin: 70px;
  height: 600px;
  padding-top: 40px;
}